<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>us.pcrn.poptor</string>
    <key>Program</key>
    <string>/Users/aroberts/bin/poptor</string>
    <key>StartInterval</key>
    <integer>60</integer>
    <key>StandardOutPath</key>
    <string>/var/log/aroberts/us.pcrn.poptor.log</string>
    <key>StandardErrorPath</key>
    <string>/var/log/aroberts/us.pcrn.poptor.log</string>
  </dict>
</plist>
